<div class="bg-primary">
    <!-- <div class="row"> -->
    <div class="text-center">
        <br>
        <br>
        <div class="text-warning ">
            <u> ¿Tienes alguna duda? </u>
        </div>
        <span style="color: white;">
                <br> CONTACTANOS
                <br>
                <br> Llamanos al número: xxxxx
                <br> Mandanos whatsapp al: xxxxx
                <br> Contactanos por correo: xxxxx@xxxxx.com
                <br>
                <br> SIGUENOS EN NUESTRAS REDES SOCIALES:
            </span>
        <br>
        <div class="botones text-center" style="width: 100%;">
            <a href="https://www.facebook.com/NAVYFIT1" target="_blank" class="btn btn-fb"><i class="fab fa-facebook-f"></i> </a>
            <a class="btn-floating btn-lg btn-ins" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="http://wa.me/5213929305895" class="btn btn-whatsapp"><i class="fab fa-whatsapp" style="font-size: 130%;"></i></a>
            <a class="btn-floating btn-lg btn-ms"><i class="fab fa-facebook-messenger"></i></a>
        </div>
        <br>
        <br>
        <!-- </div> -->
    </div>