<h3 class="ml-3 mt-3">Mis Productos</h3>
<hr>
<div class="row ml-1 mr-4">
    <div class="col-2 mt-3">
        <img src="https://www.roguefitness.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/r/m/rm-3-th.png" alt="">
        <span>Rogue RM-3 Monster Rack 2.0</span> <br>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span><br>
        <span cl style="color: green;">$ 2400.00 MXN</span>
        <span style="display: flex;">
            <div class="cajaColor"></div>
            <div class="cajaColor"></div>
            <div class="cajaColor"></div>
        </span>
    </div>
</div>