<div class="row">
    <div class="col-4">
        <img src="https://www.roguefitness.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/r/o/rogue-monster-foldback-th.jpg" style="width: 100%;">
        <br>
        <br>
        <br>
    </div>
    <div class="col-8 mt-3">
        <h3>Rogue RM-3 Monster Rack 2.0</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque commodi cumque iure natus placeat voluptates at autem. Quo consectetur, aut modi dolores numquam sunt, quae commodi quaerat voluptatem earum recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, corporis porro iure, eveniet numquam debitis tempore culpa ipsam voluptate rem maxime molestias nulla cumque natus velit. Placeat voluptas sunt unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, cupiditate laborum. Nostrum, vel consequuntur totam magni officiis earum corporis, cumque voluptas commodi dolore quaerat possimus id facere repellendus dolorum! Doloremque.</span>
        <br>
        <div class="precio mt-3">$ 1400.00 MXN</div><br>

        <button class="btn btn-bg btn-success">Comprar</button>
    </div>
    <br>
    <!------ Include the above in your HEAD tag ---------->


    <div class="container text-center my-3">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item row no-gutters active">
                    <div class="col-3 float-left"><img class="img-fluid" src="assets/img/3.jpg"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="assets/img/3.jpg"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="assets/img/3.jpg"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="assets/img/3.jpg"></div>
                </div>
                <div class="carousel-item row no-gutters">
                    <div class="col-3 float-left"><img class="img-fluid" src="assets/img/1.jpg"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="assets/img/1.jpg"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="assets/img/1.jpg"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="assets/img/1.jpg"></div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previo</span>
            </a>
            <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>

        <a href="https://www.codeply.com/go/HDu8lT7NxJ"></a>
        <br>
        <br>
        <br>
    </div>
</div>