<br>
<br>
<div class="container">
    <div class="text-center">
        <img src="assets/img/navy.jpg" style="height: 90px;">
        <div class="text-danger">
            <div class="sombreado">
                <h1>
                    <u>SOBRE NOSOTROS</u>
                </h1>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 text-center ">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit; text-align: center;">
                            <u>¿QUIÉNES SOMOS?</u>
                        </font>
                    </font>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <font style="vertical-align: inherit;">

                        </font>
                    </h4>
                    <p class="card-text text-left">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Somos una empresa dedicada a nuestro trabajo, con un fuerte compromiso y pasión a lo que estamos realizando, para darle una mejor calidad a nuestros clientes en los productos. Como profesionales, ofrecemos nuestros productos teniendo:
                                <br>
                                <br>✔ Limpieza
                                <br> ✔Creatividad
                                <br> ✔Puntualidad

                            </font>
                        </font>
                    </p>
                </div>
                <img src="assets/img/9.jpg">
            </div>

        </div>
        <div class="col-sm-12 col-md-4 text-center ">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit; text-align: center;">
                            <u>NUESTROS VALORES </u> </font>
                    </font>
                </div>
                <div class="card-body ">
                    <h4 class="card-title">
                        <font style="vertical-align: inherit;">

                        </font>
                    </h4>
                    <p class="card-text text-left">
                        <font style="vertical-align: inherit; text-align: justify;">
                            Navyfit demuestra siempre en cada trabajo:
                            <br>
                            <br> ✔Compromiso
                            <br> ✔Creatividad
                            <br> ✔Innovacion
                            <br> ✔ Pasión
                            <br> ✔Respeto

                        </font>
                    </p>
                </div>
                <br>
                <br>
                <img src="assets/img/8.jpg">
            </div>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit; text-align: center;">
                            <u>NUESTRO PROPÓSITO </u></font>
                    </font>
                </div>
                <div class="card-body ">

                    <p class="card-text text-left">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Nuestro principal propósito es brindarles un buen servicio y la confianza a nuestros clientes de nuestros productos y atencion, al mismo tiempo que contar con un buen ambiente de trabajo en donde resulte apasionante realizar nuestras actividades, de manera
                                eficaz y de la misma forma estar actualizando nuestros productos.
                            </font>
                        </font>
                    </p>
                    <br>
                    <br>

                </div>
                <img src="assets/img/10.jpg">
            </div>
        </div>
    </div>
    <br>

    <div class="text-center">
        <div class="sombreado-uno">
            <img src="assets/img/navy.jpg" style="height: 90px;">
            <br>
            <u><h2>NUESTRA UBICACIÓN</h2></u>
        </div>
        <br>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Melchor+Ocampo+194,+Centro,+47980+Ocotl%C3%A1n,+Jal.,+M%C3%A9xico" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-sm-4" id="contact2">
                    <!-- <hr alin="left" width="50%"> -->
                    <h4 class="pt-2">NAVYFIT</h4>
                    <hr>
                    <i class="fas fa-globe" style="color:#000"></i> DOMICILIO<br>
                    <h4 class="pt-2">Contacto</h4>
                    <i class="fas fa-phone" style="color:#000"></i> <a href="tel:+"> 123456 </a><br>
                    <i class="fab fa-whatsapp" style="color:#000"></i><a href="tel:+"> 123456 </a><br>
                    <h4 class="pt-2">Correo</h4>
                    <i class="fa fa-envelope" style="color:#000"></i> <a href="">ventas@navyfit.com.mx</a><br>
                </div>
            </div>
        </div>



        <br><br>

    </div>