.slider {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

.imagen-boton {
    width: 100%;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 5s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 90%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
    img {
        width: 60px;
        height: 60px;
    }
}

.sombreado {
    text-shadow: 3px 3px 5px rgb(255, 217, 0), 6px 6px 5px yellow, 9px 9px 5px gainsboro;
}