<div class="inicio">
    <br>
    <div class="slider text-center" style="width: 100%;">
        <ul>
            <li>
                <img src="assets/img/1.1.jpg" alt="">
            </li>
            <li>
                <img src="assets/img/3.3.jpg" alt="">
            </li>
            <li>
                <img src="assets/img/4.4.jpg" alt="">
            </li>
            <li>
                <img src="assets/img/6.6.jpg" alt="">
            </li>
        </ul>
    </div>
    <div>
        <br>
        <br/>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="container">
                    <div class="text-center">
                        <img src="assets/img/camion.jpg" style="width: 130px">
                    </div>
                    <h4 class="text-center" style="text-decoration: underline;">ENVIOS Y ENTREGAS</h4>
                    Envio gratis, en todos nuestros productos, viene incluido en el precio de cada producto. El tiempo de entrega tenemos de dos tipos:
                    <br><br>✔ Los productos ubicados en nuestro almacen, se entregan dentro de 24 hrs habiles
                    <br> ✔ Los productos por hacer, y en algun diseño espefico, se demoran dentro de 5-7 dias habiles segun el producto, de igual manera se mostrara en los detalles de cada uno de ellos.<br> NavyFit realiza envios en toda la republica.
                    <div class="text-center mt-3">
                        <img src="assets/img/tarjeta.jpg" style="width: 120px">
                    </div>
                    <h4 class="text-center" style="text-decoration: underline;">PAGO CON TARJETA</h4>
                    En navyfit, puedes pagar con tarjeta y ! siempre es seguro !, ademas de contar con precios muy accesibles.
                    <div class="text-center mt-3">
                        <img src="assets/img/ex.jpg" style="width: 120px">
                    </div>
                    <h4 class="text-center" style="text-decoration: underline;">VIVE LA EXPERIENCIA</h4>
                    <div class=" text-left ">
                        No te quedes sin la experiencia de comprar en navyfit!! estas a un clic de comprar lo que siempre has querido en productos de crossfit.
                        <span class="texto "> </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mt-5">
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-2">
                        <div class="sombreado">
                            <div class="card bg-dark text-white" style="width: 100%;">
                                <img src="assets/img/carta5.jpg" class="card-img">
                                <div class="card-img-overlay" style="display: flex; align-items: center; justify-content: center;">
                                    <p class=" card-text font-weight-bold text-center">CATEGORIA 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <div class="sombreado">
                            <div class="card bg-dark text-white" style="width: 100%;">
                                <img src="assets/img/carta5.jpg" class="card-img">
                                <div class="card-img-overlay" style="display: flex; align-items: center; justify-content: center;">
                                    <p class=" card-text font-weight-bold text-center">CATEGORIA 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <div class="sombreado">
                            <div class="card bg-dark text-white" style="width: 100%;">
                                <img src="assets/img/carta5.jpg" class="card-img">
                                <div class="card-img-overlay" style="display: flex; align-items: center; justify-content: center;">
                                    <p class=" card-text font-weight-bold text-center">CATEGORIA 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <div class="sombreado">
                            <div class="card bg-dark text-white" style="width: 100%;">
                                <img src="assets/img/carta5.jpg" class="card-img">
                                <div class="card-img-overlay" style="display: flex; align-items: center; justify-content: center;">
                                    <p class=" card-text font-weight-bold text-center">CATEGORIA 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <div class="sombreado">
                            <div class="card bg-dark text-white" style="width: 100%;">
                                <img src="assets/img/carta5.jpg" class="card-img">
                                <div class="card-img-overlay" style="display: flex; align-items: center; justify-content: center;">
                                    <p class=" card-text font-weight-bold text-center">CATEGORIA 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <div class="sombreado">
                            <div class="card bg-dark text-white" style="width: 100%;">
                                <img src="assets/img/carta5.jpg" class="card-img">
                                <div class="card-img-overlay" style="display: flex; align-items: center; justify-content: center;">
                                    <p class=" card-text font-weight-bold text-center">CATEGORIA 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <video class="mt-5" src="assets/videos/prueba.mp4" width="640" height="360" muted loop controls></video>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>