<div class="body">
    <div class="content">
        <div class="card bg-primary" style="width: 320px;">
            <div class="card-body">
                <h1 class="card-title text-center ">INICIAR SESIÓN</h1>
                <p class="card-text"></p>
                <div class="form-group has-success">
                    <label class="form-control-label">E-mail</label>
                    <input type="email" value="" class="form-control" placeholder="Ingrese su E-mail">
                    <!-- <div class="valid-feedback">Success! You've done it.</div> -->
                </div>
                <div class="form-group has-success">
                    <label class="form-control-label">Contraseña</label>
                    <input type="password" value="" class="form-control password" placeholder="Ingrese su contraseña">
                    <!-- <div class="valid-feedback">Success! You've done it.</div> -->
                </div>
                <button class="btn btn-success btn-block">Iniciar Sesión</button>
                <br>
                <button class="btn btn-success btn-block">Crear una cuenta</button>
            </div>
        </div>
    </div>
</div>