/* You can add global </font>styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    font-family: 'Roboto', sans-ser letter-spacing 0;
}

input {
    border-radius: 10px !important;
}

.btn {
    border-radius: 100px;
}